html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQh5gEYqRxVaW8Mix1ZPGjEHOXfWhZr5foZ1LBcNy0gSSLbaDvh&usqp=CAU")
      no-repeat center center/cover;
}
.banner {
padding-top: 200px;
padding-right: 50px
}
.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}
.banner-par {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 30px;
  transition: all 0.7s;
}
.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
}
.menu:hover {
  color: #70aed2;
  transition: color 0.5s;
}
.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}
.nav-active {
  color: #70aed2;
}
.mission {
  background: #151f20;
}
.under-line {
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}
@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}
.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}
.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 14px;
  letter-spacing: 1px;
  background: #222;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
}
.heading:hover {
  opacity: 1;
}
.underLine-dark {
  width: 150px;
  border: 3px solid #888;
  margin: auto;
}
.gallery-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
}
.active-item {
  color: #70aed2;
}
.customers {
  background: #151f20;
}
.card-1,.card-2,.card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTX2d9S9Yb5ZctuXMnnmGVKzkDCZPD9mhcoPe31FkOgouAkbLDF&usqp=CAU")
      center no-repeat;
  background-size: cover;
  box-shadow: 7px 18px 50px #555;
  max-width:400px
}
.card-list-item {
  border-bottom: 1px groove #eee;
  width: 55%;
  margin: auto;
}
.price-card-button{
  background: #f5593d;
  width:130px;
  border-radius:25px;
  box-shadow: 5px 8px 18px #000
  transition:all .2s;
}
.price-card-button:hover{
  background: #f9793d;
  transform:translatey(-2px)
}
@keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveFromBottom {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
.moveFromLeft {
  animation-name: moveFromLeft;
  animation-duration: 2s
}
.moveFromRight {
  animation-name: moveFromRight;
  animation-duration: 2s
}
.moveFromBottom {
  animation-name: moveFromBottom;
  animation-duration: 2s
}
.contact{
  background:  linear-gradient(105deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),url("https://www.troax.com/sites/default/files/styles/header_image_desktop_/public/2019-08/Contact_header_2880x1000px.jpg?itok=9hgrfHuH")  no-repeat;
  background-size:cover;
  background-position: center;
}
.input{
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #000;
  border-radius:0;
  transition:all .8s
}
.input:focus{
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #f4ec36
}
.submit-button{
  color:#eee;
background:#000;
width:70%;
  transition:all .3s
}
.submit-button:hover{
  background: #3f51b5;
transform:translateY(-3px);
  }
  .label{
    color: #000;
    display:block;
    margin-top: -70px;
    margin-left:4px;
    font-size: 13px;
    transition: all .4s
  }
  .input:placeholder-shown  + .label{
    transform: translate(20px,20px);
    opacity:0;
    visibility: hidden;
  }
.footer-link{
  color:#eee;
  font-size: 13px;
  transition:all .3s;
}
.footer-link:hover{
  color:#70aed2;
  text-decoration: none;
}
